<!DOCTYPE html>
<html>
  <head>
    <title> Express Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
    <h1>The Skills</h1>
    <ul>
      <% skills.forEach((s) => { %>
        <li>
            <a href="/skills/<%= s.id %>"> <%= s.type %> </a>
          -
            <%= s.completed ? 'Yup' : 'Nope' %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
