<!DOCTYPE html>
<html>
  <head>
    <title> Express Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
    <h1>The Skills</h1>
    <ul>
      <% skills.forEach((s) => { %>
        <li>
            <%= s.skill %>
          -
            <%= s.completed ? 'Yup' : 'Nope' %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
