<!DOCTYPE html>
<html>
  <head>
    <title> Express Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/"> Home </a>
    |
    <a href="/skils"> All Skills </a>
    <h3> <%= skill.type %> </h3>
    <h3>Complete: <%= skill.completed ? 'Yes' : 'No'%></h3>
  </body>
</html>
